

<!-- SECTION: CONTACT-->
<div class="section-vcardbody section-page" id="page-contact">
    <div class="section-contact">

        <!-- Section title -->
        <h2 class="section-title">Contact</h2>
        <!-- /Section title -->

        <!-- Contact infos -->
        <div class="contact-infos">
            <h4 class="contact-subtitle-1"><i class="fa fa-map"></i>&nbsp;   Address</h4>
            <p>{{cc.contact.address}}</p>
            <h4 class="contact-subtitle-1"><i class="fa fa-phone-square"></i>&nbsp; Phone</h4>
            <p>{{cc.contact.phone}}</p>
            <h4 class="contact-subtitle-1"><i class="fa fa-envelope"></i>&nbsp; Mail</h4>
            <p>{{cc.contact.email}}</p>
        </div>
        <!-- /Contact infos -->

    </div>
</div>
<!-- /SECTION: CONTACT  -->