
<!-- SECTION: BLOG-->
<div class="section-vcardbody section-page" id="page-blog">
    <div class="section-blog">

        <!-- Section title -->
        <h2 class="section-title">Blog</h2>
        <!-- /Section title -->

        <!-- BLOG POSTS -->
        <div class="blog-posts">
            <!-- blog-item -->
            <div class="blog-item">
                <div class="blog-item-wrapper">
                    <!-- blog item thumbnail -->
                    <div class="blog-item-thumb">
                        <a href="../single.html" class="loadPost"><img src="../img/blog1.jpg" alt=""></a>
                    </div>
                    <!-- /blog item thumbnail -->
                    <!-- Blog item - infos -->
                    <div class="blog-item-infos">
                        <!-- blog-item-title -->
                        <div class="blog-item-title-wrapper">
                            <h2 class="blog-item-title title-border"><a href="../single.html" class="loadPost">How to succeed in meetings</a></h2>
                        </div>
                        <!-- /blog-item-title -->
                        <!-- blog item - description -->
                        <div class="blog-item-description">
                            <p><a href="../single.html" class="loadPost">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales varius sagittis. Proin a arcu vitae turpis congue facilisis. Quisque a lectus pretium, sagittis augue in, fringilla risus....</a></p>
                        </div>
                        <!-- /blog-item-description -->
                        <!-- blog item - link -->
                        <div class="blog-item-link">
                            <a href="../single.html" class="btn btn-default loadPost">See More</a>
                        </div>
                        <!-- /blog item - link -->
                    </div>
                    <!-- /blog item - infos -->
                </div>
            </div>
            <!-- /blog-item -->

            <!-- blog-item -->
            <div class="blog-item">
                <div class="blog-item-wrapper">
                    <!-- blog item thumbnail -->
                    <div class="blog-item-thumb">
                        <a href="../single.html" class="loadPost"><img src="../img/blog2.jpg" alt=""></a>
                    </div>
                    <!-- /blog item thumbnail -->
                    <!-- Blog item - infos -->
                    <div class="blog-item-infos">
                        <!-- blog-item-title -->
                        <div class="blog-item-title-wrapper">
                            <h2 class="blog-item-title title-border"><a href="../single.html" class="loadPost">10 tips to improve your laptop</a></h2>
                        </div>
                        <!-- /blog-item-title -->
                        <!-- blog item - description -->
                        <div class="blog-item-description">
                            <p><a href="../single.html" class="loadPost">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales varius sagittis. Proin a arcu vitae turpis congue facilisis. Quisque a lectus pretium, sagittis augue in, fringilla risus....</a></p>
                        </div>
                        <!-- /blog-item-description -->
                        <!-- blog item - link -->
                        <div class="blog-item-link">
                            <a href="../single.html" class="btn btn-default loadPost">See More</a>
                        </div>
                        <!-- /blog item - link -->
                    </div>
                    <!-- /blog item - infos -->
                </div>
            </div>
            <!-- /blog-item -->
        </div>
        <!-- /BLOG POSTS -->
        <!-- Pagination -->
        <div class="section-pagination">
            <div class="row">
                <div class="col-xs-12">
							<span class="pagination-numbers">
								<a href="#">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">5</a>
								<a href="#">6</a>
							</span>
                </div>
            </div>
        </div>
        <!-- /Pagination -->
    </div>
</div>
<!-- /SECTION: BLOG  -->


<!-- SECTION: BLOG SINGLE-->
<div class="section-vcardbody section-page section-page-single" id="page-blog-single">
    <div class="section-blog-single">
        <h1>hello</h1>
        <!-- Load the single.html content via AJAX -->
        <div id="postHere"></div>
        <!-- /Load the single.html content via AJAX -->
    </div>
</div>
<!-- /SECTION: BLOG SINGLE  -->

