
<!-- PAGE: RESUME -->
<div class="section-vcardbody section-page" id="page-resume">

    <!-- SECTION: Education -->
    <div class="section-education">
        <!-- Section title -->
        <h2 class="section-title">Resume</h2>
        <!-- /Section title -->

        <h2 class="section-title2"><i class="fa fa-university"></i>&nbsp; Education</h2>

        <!-- Resume Item -->
        <div class="resume-item" ng-repeat="education in rc.education">
            <!-- Graduation title -->
            <h3 class="section-item-title-1">{{education.title}}</h3>
            <!-- /Graduation title -->
            <!-- Graduation time -->
            <h4 class="graduation-time">{{education.university}} ({{education.courseLength}} Course) - <span class="graduation-date">Passed {{education.graduationDay}}</span></h4>
            <!-- /Graduation time -->
            <!-- content -->
            <div class="graduation-description">
                <p>{{education.detail}}</p>
            </div>
            <!-- /Content -->
        </div>
        <!-- /Resume Item -->
    </div>
    <!--/ SECTION: Education -->

    <!-- SECTION: WORK EXPERIENCE -->
    <div class="section-education">

        <h2 class="section-title2"><i class="fa fa-flag"></i>&nbsp; Work Experience</h2>

        <!-- Resume Item -->
        <div class="resume-item" ng-repeat="work in rc.workExperience">
            <!-- Work Place -->
            <h3 class="section-item-title-1">{{work.company}}</h3>
            <!-- /Work Place -->
            <!-- Job Time -->
            <h4 class="job">{{work.title}} - <span class="job-date">{{work.from}} - {{work.to}}</span></h4>
            <!-- /Job Time-->
            <!-- content -->
            <div class="graduation-description">
                <p ng-repeat="desc in work.description">{{desc}}</p>
            </div>
            <!-- /Content -->
        </div>
        <!-- /Resume Item -->
    </div>
    <!--/ SECTION: WORK EXPERIENCE -->

    <div class="page-footer">
        <!-- Buttons -->
        <div class="resume-buttons">
            <!-- Download CV button -->
            <a href="/plain" class="btn btn-default btn-default2"><i class="fa fa-download"></i>&nbsp; Download my resume</a>
            <!-- /Download CV button -->
        </div>
        <!-- /Buttons -->
        <!-- Quote -->
        <p class="footer-quote">"{{rc.quote.message}}" <br/><i>{{rc.quote.from}}</i></p>
        <!-- /Quote -->
    </div>

</div>
<!-- /PAGE: RESUME  -->
