<html>
<head><title>Aman Tuladhar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/plainStyle.css">
</head>
<body class="lang-en ">
<div ng-app="ResumeApp" id="main" ng-cloak=""> <!-- Profile photo -->
    <div id="photo"><img src="img/profile2.png" alt=""></div> <!-- Contact Information -->
    <div ng-controller="ContactController as cc" class="header photo"><h1 id="title">{{cc.contact.firstName}}
        {{cc.contact.lastName}}<span class="email"> <a href="mailto:{{cc.contact.email}}" rel="nofollow">{{cc.contact.email}}</a></span></h1>
        <div class="basic-info section">
            <div class="set"><p class="address"><span class="value">{{cc.contact.address}}</span></p>
                <div class="r"><p class="website"><label>Website<span class="colon">:</span></label>
                    <span class="value"><a href="{{cc.contact.social.website}}" rel="nofollow">{{cc.contact.social.website}}</a></span></p>
                    <p class="phone"><label>Phone<span class="colon">:</span></label> <span class="value">{{cc.contact.phone}}</span></p></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    <div ng-controller="ContactController as cc" class="section section-objective"><h2 class="title">Objective</h2>
        <div class="set">
            <div class="item"><span class="info">{{cc.contact.objective}}</span></div>
        </div>
        <div class="clear"></div>
    </div> <!-- End Contact Information //--> <!-- Experience -->
    <div ng-controller="ResumeController as rc">
        <div class="section section-work"><h2 class="title">Work experience</h2>
            <div class="set">
                <div class="item" ng-repeat="work in rc.workExperience"><h3><span class="company l">{{work.company}}</span> <span class="date r">{{work.from}} : {{work.to}}</span>
                </h3>
                    <div class="clear"></div>
                    <span class="job_title">{{work.title}}</span>
                    <div class="info">
                        <ul>
                            <li ng-repeat="desc in work.description">{{desc}}</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section section-education"><h2 class="title">Education</h2>
            <div class="set">
                <div class="item" ng-repeat="education in rc.education"><h3><span class="course l">{{education.title}}</span> <span class="date r">{{education.courseLength}} Course <br>Passed {{education.graduationDay}}</span>
                </h3>
                    <div class="clear"></div>
                    <span class="school">{{education.university}}</span>
                    <div class="info">{{education.detail}}</div>
                    <span class="clear"> </span></div>
            </div>
            <div class="clear"></div>
        </div>
    </div> <!-- End of experience -->
    <div class="section section-interests"><h2 class="title">Interests</h2>
        <div class="set">
            <div class="item"><span class="info">Music, Reading, Snooker, Guitar, Table Tennis, Football, Futsal</span></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="js/resumeapp/resumeapp.js"></script>
<script src="js/resumeapp/skill/resumeapp.skill.controller.js"></script>
<script src="js/resumeapp/skill/resumeapp.technicalskill.service.js"></script>
<script src="js/resumeapp/skill/resumeapp.softwareskill.service.js"></script>
<script src="js/resumeapp/skill/resumeapp.professionalskill.service.js"></script>
<script src="js/resumeapp/experience/resumeapp.resume.controller.js"></script>
<script src="js/resumeapp/experience/resumeapp.education.service.js"></script>
<script src="js/resumeapp/experience/resumeapp.workexperience.service.js"></script>
<script src="js/resumeapp/contactinfo/resumeapp.contact.controller.js"></script>
<script src="js/resumeapp/contactinfo/resumeapp.contactinfo.service.js"></script>
<script src="js/resumeapp/util/resumeapp.detectWindowResize.directive.js"></script>
</body>
</html>
